<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="公共部分">
    <meta name="author" content="dljdlj">
    <title>common</title>
</head>

<body>
<!--公用导航头-->
<nav id="nav" th:fragment="commonHead" class="gird-header"
     th:style="${page == 'index'} ? 'display: none' : 'display: inline'">
    <div class="ui container">
        <div class="ui inverted secondary menu">
            <h2 class="ui olive header item" style="font-family: STSong">coffsty</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
            <a href="#" th:href="@{/index}" class="m-item item"
               th:classappend="${page == 'index'} ? 'active' : ''">
                <i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types}" class="m-item item m-mobile-hide"
               th:classappend="${page == 'types'} ? 'active' : ''">
                <i class="clone outline icon"></i>分类</a>
            <a href="#" th:href="@{/music}" class="m-item item m-mobile-hide"
               th:classappend="${page == 'music'} ? 'active' : ''">
                <i class="music icon"></i>音乐盒</a>
            <a href="#" th:href="@{/message}" class="m-item item m-mobile-hide"
               th:classappend="${page == 'message'} ? 'active' : ''">
                <i class="book icon"></i>留言板</a>
            <a href="#" th:href="@{/picture}" class="m-item item m-mobile-hide"
               th:classappend="${page == 'picture'} ? 'active' : ''">
                <i class="image icon"></i>照片墙</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide"
               th:classappend="${page == 'about'} ? 'active' : ''">
                <i class="info icon"></i>关于我</a>
            <!--</div>-->
            <!--search-->
            <div class="right m-item item" th:classappend="${session.user}==null ? 'm-mobile-hide':''">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="keyString" placeholder="Search....">
                        <i onclick="document.forms['search'].submit()" class="search link icon m-mobile-hide"></i>
                    </div>
                </form>
            </div>
            <!--login-->
            <div class="right m-item item" th:style="${session.user}!=null ? 'display: none':''">
                <a href="#" th:href="@{/userLogin}" class="m-item item"
                   th:classappend="${page == 'login'} ? 'active' : ''">
                    <i class="unlock icon"></i>登陆</a>
            </div>
            <!--user.avatar and user.username-->
            <div class="right m-item m-mobile-hide menu" th:style="${session.user}==null ? 'display: none':''">
                <div class="ui dropdown item">
                    <a href="javascript:subToHX();" class="avatar">
                        <img style="width: 40px;height: 40px" src="../api/avatar"
                             th:src="'../api/avatar/'+@{${session.user.avatar}}" th:if="${session.user}">
                    </a>
                    <span th:text="'&nbsp;&nbsp;&nbsp;&nbsp;'+${session.user.nickname}"
                          th:if="${session.user}">昵称</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/logout}" class="item">登出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none">
        <form id="myForm" action="" th:action="@{/upload}" method="post" enctype="multipart/form-data">
            <input id="upimg" type="file" name="headerImg">
            <input type="text" name="id" placeholder="用户id"
                   th:value="${session.user}!=null ? ${session.user.id}">
        </form>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-hide"
       th:style="${page == 'index'} ? 'display: none' : 'display: inline'">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!---->
<!--公用博客列表-->
<div th:fragment="commonMiddle" class="ui middle aligned mobile reversed stackable grid">
    <!--博文信息-->
    <div class="eleven wide column ">
        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                 class="m-black m-title-font" th:text="${blog.title}">阿勒阿勒</a></h3>
        <p class="m-text m-margin-top-max" th:text="|${blog.description}......|">我真的不是描述啊........</p>
        <div class="ui m-margin-top-max grid">
            <div class="eleven wide column">
                <div class="ui mini horizontal link list">
                    <div class="item">
                        <img src="../static/images/me.jpg" th:src="'../api/avatar/'+@{${blog.avatar}}" alt=""
                             class="ui avatar image">
                        <div class="content"><a href="#" th:href="@{/about}" target="_blank" class="header"
                                                th:text="${blog.nickname}">oneStar</a></div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-01-01</span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> <span th:text="${blog.views}">2233</span>
                    </div>
                    <div class="item">
                        <i class="comment outline icon"></i> <span th:text="${blog.commentCount}">23</span>
                    </div>
                </div>
            </div>
            <div class="right aligned five wide column">
                <a href="#" th:href="@{/types/{flagId}(flagId=${blog.flagId})}" target="_blank"
                   class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.flagName}">吐槽</a>
            </div>
        </div>
    </div>
    <!--博文图片-->
    <div class="five wide column">
        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
            <img src="../static/images/backimg1.jpg" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
        </a>
    </div>
</div>
<!---->
<!--公用分页-->
<div class="ui bottom attached segment m-opacity stackable grid" th:fragment="commonPageCut">
    <div class="three wide column" align="center">
        <a class="item" th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"
           th:unless="${pageInfo.isFirstPage}">上一页</a>
    </div>

    <div class="ten wide column" align="center">
        <p><span th:text="${pageInfo.pageNum}"></span> / <span th:text="${pageInfo.pages}"></span></p>
    </div>

    <div class="three wide column" align="center">
        <a class="item" th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"
           th:unless="${pageInfo.isLastPage}">下一页</a>
    </div>
</div>
<!---->
<!--公用底部栏-->
<footer th:fragment="commonFoot" class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <!--博客运行时间统计-->
            <div class="sixteen wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息
                </div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <div id="blog-message">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px"
                         th:fragment="blogMessage">
                        <div class="m-text-thin" style="text-align: center;">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"
                                      th:text="${#numbers.formatInteger(blogTotal,6,'WHITESPACE')}"> 14 </h2> 篇
                        </div>
                        <div class="m-text-thin" style="text-align: center;">
                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"
                                      th:text="${#numbers.formatInteger(blogViewTotal,6,'WHITESPACE')}"> 14 </h2> 次
                        </div>
                        <div class="m-text-thin" style="text-align: center;">
                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"
                                      th:text="${#numbers.formatInteger(blogCommentTotal,6,'WHITESPACE')}"> 14 </h2> 条
                        </div>
                        <div class="m-text-thin" style="text-align: center;">
                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"
                                      th:text="${#numbers.formatInteger(blogMessageTotal,6,'WHITESPACE')}"> 14 </h2> 条
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span
                id="htmer_time" class="item m-text-thin"></span>
        </div>
        <a rel="nofollow" href="https://beian.miit.gov.cn/" target="_blank">浙ICP备2021009921号-1</a>
    </div>
    </div>

</footer>
<!---->
<!--公用脚本-->
<div th:fragment="commonScript">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>


    <script>

        // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

        $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");

        // 运行时间统计
        function secondToDate(second) {
            if (!second) {
                return 0;
            }
            var time = new Array(0, 0, 0, 0, 0);
            if (second >= 365 * 24 * 3600) {
                time[0] = parseInt(second / (365 * 24 * 3600));
                second %= 365 * 24 * 3600;
            }
            if (second >= 24 * 3600) {
                time[1] = parseInt(second / (24 * 3600));
                second %= 24 * 3600;
            }
            if (second >= 3600) {
                time[2] = parseInt(second / 3600);
                second %= 3600;
            }
            if (second >= 60) {
                time[3] = parseInt(second / 60);
                second %= 60;
            }
            if (second > 0) {
                time[4] = second;
            }
            return time;
        }

        function setTime() {
            /*此处为网站的创建时间*/
            var create_time = Math.round(new Date(Date.UTC(2021, 0o1, 10, 15, 15, 15)).getTime() / 1000);
            var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
            currentTime = secondToDate((timestamp - create_time));
            currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
                + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
                + '秒';
            document.getElementById("htmer_time").innerHTML = currentTimeHtml;
        }

        setInterval(setTime, 1000);


        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        //表单动作
        window.onload = function () {
            var upimg = document.getElementById("upimg");
            upimg.onchange = change;
        }

        function change() {
            var upimg = document.getElementById("upimg");
            setTimeout(subCK, 1000);
        }

        function subToHX() {
            document.getElementById("upimg").click();
        }

        function subCK() {
            document.getElementById("myForm").submit();
        }

        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on: 'hover'
        });
    </script>
</div>
<!---->
</body>
</html>